# Essay Keystrokes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
train_df = pd.read_csv('Data/train_logs.csv')

In [4]:
train_scores_df = pd.read_csv('Data/train_scores.csv')

In [5]:
test_df = pd.read_csv('Data/test_logs.csv')

In [6]:
train_df.head()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

In [16]:
train_df.tail()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
8405893,fff05981,3615,2063944,2064440,496,Nonproduction,Leftclick,Leftclick,NoChange,1031,240
8405894,fff05981,3616,2064497,2064497,0,Nonproduction,Shift,Shift,NoChange,1031,240
8405895,fff05981,3617,2064657,2064765,108,Replace,q,q,q => q,1031,240
8405896,fff05981,3618,2069186,2069259,73,Nonproduction,Leftclick,Leftclick,NoChange,1028,240
8405897,fff05981,3619,2070065,2070133,68,Input,.,.,.,1029,240

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405898 entries, 0 to 8405897
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id               object
 1   event_id         int64
 2   down_time        int64
 3   up_time          int64
 4   action_time      int64
 5   activity         object
 6   down_event       object
 7   up_event         object
 8   text_change      object
 9   cursor_position  int64
 10  word_count       int64
dtypes: int64(6), object(5)
memory usage: 705.5+ MB

There are over 8 million records in the train logs. It looks like there are multiple records for each id. To get a sense of how the data looks for each id, I load a dataframe with only the records for the first id.

In [9]:
first_df = train_df[train_df['id'] == '001519c8']

In [10]:
first_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2557 entries, 0 to 2556
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2557 non-null   object
 1   event_id         2557 non-null   int64
 2   down_time        2557 non-null   int64
 3   up_time          2557 non-null   int64
 4   action_time      2557 non-null   int64
 5   activity         2557 non-null   object
 6   down_event       2557 non-null   object
 7   up_event         2557 non-null   object
 8   text_change      2557 non-null   object
 9   cursor_position  2557 non-null   int64
 10  word_count       2557 non-null   int64
dtypes: int64(6), object(5)
memory usage: 239.7+ KB

The first id has about 2.5k records and no null values.

In [15]:
train_df.describe()

,event_id,down_time,up_time,action_time,cursor_position,word_count
count,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06
mean,2.067649e+03,7.935603e+05,7.936584e+05,9.808498e+01,1.222964e+03,2.314687e+02
std,1.588284e+03,5.149451e+05,5.149428e+05,2.533985e+02,9.485242e+02,1.759088e+02
min,1.000000e+00,1.060000e+02,2.520000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.520000e+02,3.731842e+05,3.732820e+05,6.600000e+01,4.990000e+02,9.600000e+01
50%,1.726000e+03,7.208860e+05,7.209800e+05,9.300000e+01,1.043000e+03,2.000000e+02
75%,2.926000e+03,1.163042e+06,1.163141e+06,1.220000e+02,1.706000e+03,3.270000e+02
max,1.287600e+04,8.313630e+06,8.313707e+06,4.474700e+05,7.802000e+03,1.326000e+03

In [12]:
first_df.activity.value_counts()

Input                                 2010
Remove/Cut                             417
Nonproduction                          120
Replace                                  7
Move From [284, 292] To [282, 290]       1
Move From [287, 289] To [285, 287]       1
Move From [460, 461] To [465, 466]       1
Name: activity, dtype: int64

In [13]:
first_df.head(40)

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1
5,001519c8,6,107296,107400,104,Input,q,q,q,3,1
6,001519c8,7,107469,107596,127,Input,q,q,q,4,1
7,001519c8,8,107659,107766,107,Input,q,q,q,5,1
8,001519c8,9,107743,107852,109,Input,q,q,q,6,1
9,001519c8,10,107840,107978,138,Input,Space,Space,,7,1
10,001519c8,11,108008,108195,187,Input,q,q,q,8,2
11,001519c8,12,108104,108259,155,Input,q,q,q,9,2
12,001519c8,13,108229,108370,141,Input,q,q,q,10,2
13,001519c8,14,108341,108486,145,Input,Space,Space,,11,2
14,001519c8,15,109296,109438,142,Input,q,q,q,12,3
15,001519c8,16,109423,109559,136,Input,q,q,q,13,3
16,001519c8,17,109560,109729,169,Input,q,q,q,14,3
17,001519c8,18,109826,109994,168,Input,q,q,q,15,3
18,001519c8,19,110398,110516,118,Remove/Cut,Backspace,Backspace,q,14,3
19,001519c8,20,110595,110751,156,Input,q,q,q,15,3
20,001519c8,21,110745,110863,118,Input,q,q,q,16,3
21,001519c8,22,110848,110989,141,Input,Space,Space,,17,3
22,001519c8,23,111034,111140,106,Input,q,q,q,18,4
23,001519c8,24,111174,111261,87,Input,q,q,q,19,4
24,001519c8,25,111310,111414,104,Input,q,q,q,20,4
25,001519c8,26,111442,111587,145,Input,q,q,q,21,4
26,001519c8,27,111718,111771,53,Input,q,q,q,22,4
27,001519c8,28,111853,111995,142,Input,q,q,q,23,4
28,001519c8,29,111978,112122,144,Input,Space,Space,,24,4
29,001519c8,30,112192,112323,131,Input,q,q,q,25,5
30,001519c8,31,112248,112414,166,Input,q,q,q,26,5
31,001519c8,32,112359,112478,119,Input,Space,Space,,27,5
32,001519c8,33,112589,112700,111,Input,q,q,q,28,6
33,001519c8,34,113005,113075,70,Remove/Cut,Backspace,Backspace,q,27,5
34,001519c8,35,113055,113175,120,Input,q,q,q,28,6
35,001519c8,36,113233,113323,90,Input,q,q,q,29,6
36,001519c8,37,113304,113446,142,Input,Space,Space,,30,6
37,001519c8,38,113520,113632,112,Input,q,q,q,31,7
38,001519c8,39,113585,113740,155,Input,q,q,q,32,7
39,001519c8,40,113682,113796,114,Input,q,q,q,33,7